body{
	font-family:arial;
}
.mainHeading {
	text-shadow: 2px 3px 4px #95a5a6;
	text-align: center;
}
.firstPara { 
	text-align: justify;
	text-indent: 20px;
}
li {
	line-height: 40px;
	
}
a {
	text-decoration: none;
	color: black;
}
.CNC {
	color: blue;
}
h2:first-letter {
	font-size: 150%
}
.istSpan {
	font-weight: bold;
}
.iiSpan {
	font-weight: bold;
	font-style: italic;

}
	